<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>308682581BBA10C3006C519A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>308682E21BBB0514006C519A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>308683021BBB067D006C519A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3086833F1BBB11F2006C519A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>308683A31BBB2D05006C519A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>308683C41BBB316A006C519A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>308684291BBB68EA006C519A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>308685E61BBB7C73006C519A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>308686061BBB841D006C519A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>308686621BBBC910006C519A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>308686CA1BBBCAE1006C519A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>308686E61BBBCF52006C519A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
